// COLORS
$wpc-dark-blue: #2e3641;
$wpc-royal-blue: #1159bd;
$wpc-red: #aa0000; //170,0,0
//$link-color: $wpc-royal-blue;

// FONTS
//$open_sans: 'Open Sans', sans-serif;

// Set the base font
//$body-font-family: $open_sans;

// Layout
//$wpc-container-max-width: 920px;
//$container-max-width: 920px;

// Body
/*$body-bg: #fafafa;
$body-font-color: #222;
$body-font-size: 1rem;
$body-line-height: 1.7;
$main-bg: #fff;*/

// GENERAL ELEMENTS
$element-margin-vert: 1.5rem;

// LISTS
//$list-margin-side: 2.4rem;

// Header
$header-bg: $wpc-royal-blue;
$header-color: #fff;
$header-logo-container-width: 315px;
$header-logo-container-padding-horiz: 20px;
$header-logo-width: 312px;
$header-logo-height: 80px;
$header-menu-padding: 5px;
$header-menu-item-padding: 8px;

$header-menu-bp-width: 600px;
$header-menu-bp-closed: "screen and (max-width: " + ( $header-menu-bp-width - 1px ) + ");";
$header-menu-bp-open: "screen and (min-width: " + $header-menu-bp-width + ");";
//@media #{$header-menu-bp-open} {}

$mc-signup-bp-width: 700px;
$mc-signup-bp-open: "screen and (min-width: " + $mc-signup-bp-width + ");";
//@media #{$mc-signup-bp-open} {}
